{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}

<h1 class="display-4 mb-4">{{page_header}}</h1>

{% if header_text %}
<p class="mb-4">{{header_text}}</p>
{% endif %}

<form method="POST">



{% if filters %}

    <div class="filter-form rounded">

        <div id="filters">

                <div class="form-row">

                    {% for filter in filters %}

                    <div class="form-group col-xs-6 col-md-4 col-lg-4 col-xl-4">
                        <label class="mb-0 text-truncate" for="{{filter['name']}}" }}>{{filter["header"]}}</label>
                        {% if filter["type"] == "combo" %}
                        <select name="{{filter['name']}}" id="filters_{{filter['name']}}" method="GET" action="/"
                            class="form-control form-control-sm" data-toggle="{{'tooltip' if filter['tooltip'] else ''}}"
                            title="{{filter['tooltip']}}" data-placement="bottom">
                            {% for item in filter["items"]%}
                            {% if item[0]|string == filter["value"]|string %}
                            <option value="{{item[0]}}" selected>{{ item[1] }}</option>
                            {% else %}
                            <option value="{{item[0]}}">{{ item[1] }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>

                        {% else %}
                        <input name="{{filter['name']}}" id="filters_{{filter['name']}}" type="{{filter['type']}}"
                            placeholder="{{filter['placeholder']}}" class="form-control form-control-sm"
                            value="{{filter['value']}}" data-toggle="{{'tooltip' if filter['tooltip'] else ''}}"
                            title="{{filter['tooltip']}}" data-placement="bottom" step="{{ filter['step'] if filter['step'] else ''}}">
                        {% endif %}

                    </div>

                    {% endfor %}

                </div>

        </div>



    </div>

    <div class="spacer"></div>


    {% endif %}



{% for card in cards %}
<div class="card mb-4">

    

    <div class="card-header">
      {{card['header']}}
    </div>
    <div class="card-body">
      <p class="card-text">{{card['text']}}</p>

      <button type="submit" name="submit_{{card['id']}}" class="btn btn-primary">Run {{card['header']}}</button>

      
    </div>

    

</div>


{% endfor %}
</form>
{% endblock %}

{% block additional_js %}

{% endblock %}