{% extends "shared/_layout.html" %}

{% block title%}{{page}}{% endblock %}

{% block main_content %}

<div class="d-flex justify-content-between">
    <h1 class="display-5 mb-4">
        {{page_header}}
        {% if division %}
            - {{division}}
        {% endif %}
    </h1>
    <table>
        <tr>
            <td>
                <h1 class="display-5"><a class="link text-dark" href="/forms/asphalt-projections?division={{division}}&month={{prior_month}}">&lt;</a></h1>
            </td>
            <td>
                <h1 class="display-5 ml-3 mr-3">{{month}}</a></h1>
            </td>
            <td>
                <h1 class="display-5"><a class="link text-dark" href="/forms/asphalt-projections?division={{division}}&month={{next_month}}">&gt;</a></h1>
            </td>
            <td style="width: 25px;">

            </td>
            <td data-toggle="tooltip" 
                data-placement="top" 
                title="View Asphalt Projections in Tableau">
                <a href="https://tableau.lakesideindustries.com/#/views/AsphaltProjections/CurrentProjection?Projection Month={{month_number}}&Fiscal Year={{fiscal_year}}&:refresh"
                    target="_blank">
                     <img src="/static/img/tableau.png" class="img-responsive" style="height: 50px;"/>
                    </a> bob
            </td>
        </tr>
    </table>
</div>




<div class="rounded mb-4 p-2">
    <div class="row">
        {% for div, div_info in divisions.items() %}
        <div class="col-sm-4 col-md-3 col-lg-2 mb-2">
            <a class="btn btn-sm w-100 d-block text-truncate 
                    {% if div_info['status'] == 'Open' %} 
                        {% if div == division %} btn-primary {% else %} btn-outline-primary {% endif %} 
                    {% elif div_info['status'] == 'Projected' %} 
                        {% if div == division %} btn-success {% else %} btn-outline-success {% endif %} 
                    {% else %} 
                        {% if div == division %} btn-dark {% else %} btn-outline-dark {% endif %} 
                    {% endif %}"  
               data-toggle="tooltip" 
               data-placement="top" 
               title="{{div_info['status']}}" 
               href="/forms/asphalt-projections?division={{div}}&month={{month}}" 
               role="button">{{div}} - {{div_info['description']}}</a>
        </div>
        {% endfor %}
    </div>
</div>

<form class="table-responsive" method="POST">
    <div class="table-responsive">
        <table class="table table-sm document-table w-100">
            <thead class="thead">
                <tr class="table-secondary">
                    <th style="width: 6.92%;">Jobs</th>
                    {% for mth in month_header %}
                    <th class="text-right" style="width: 6.43%;">{{mth}}</th>
                    {% endfor %}
                    <th class="text-right" style="width: 6.43%;">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr style="height: 43px;">
                    <td class="align-middle">Contract</td>
                    {% for mth, mth_details in projections.items() %}
                     <td class="text-right align-middle contract  job{{mth_details[1]['Contract']['mth_hdr']}}">
                        {% if mth_details[1]['Contract']['status'] == 'Closed' or not edit %}
                        {{mth_details[1]['Contract']['projection']}}
                    {% else %}
                    <input type="text" 
                           onkeypress='validate(event)'
                           name="{{mth_details[1]['Contract']['proj_id']}}" 
                           id="proj_{{mth_details[1]['Contract']['proj_id']}}" 
                           class="form-control form-control-sm text-right contract  job{{mth_details[1]['Contract']['mth_hdr']}}"
                           value="{{mth_details[1]['Contract']['projection']}}"
                           pattern="(\d*,?\d*)*"
                           data-toggle="tooltip" 
                           data-placement="top" 
                           title="Enter only integers">
                    {% endif %}
                     </td>
                    {% endfor %}
                    <td id="contractTotal" class="totals align-middle text-right fw-bold jobTotal">
                    </td>
        
                </tr>
                <tr style="height: 43px;">
                    <td class="align-middle">Future</td>
                    {% for mth, mth_details in projections.items() %}
                     <td class="text-right align-middle future job{{mth_details[2]['Future Estimate']['mth_hdr']}}">
                        {% if mth_details[2]['Future Estimate']['status'] == 'Closed' or not edit %}
                            {{mth_details[2]['Future Estimate']['projection']}}
                        {% else %}
                
                        <input type="text" 
                            onkeypress='validate(event)'
                            name="{{mth_details[2]['Future Estimate']['proj_id']}}"
                            id="proj_{{mth_details[2]['Future Estimate']['proj_id']}}" 
                            class="form-control form-control-sm text-right future job{{mth_details[2]['Future Estimate']['mth_hdr']}}"
                            value="{{mth_details[2]['Future Estimate']['projection']}}"
                            pattern="(\d*,?\d*)*"
                            data-toggle="tooltip" 
                            data-placement="top" 
                            title="Enter only integers">
    
                        
                        {% endif %}
                     </td>
                    {% endfor %}
                    <td id="futureTotal" class="totals text-right align-middle fw-bold jobTotal">

                    </td>
                </tr>

                <tr class="totals">
                    <td></td>
                    {% for mth in month_header %}
                    <td class="text-right" id="job{{mth}}Total"></td>
                    {% endfor %}
                    <td class="text-right" id="jobTotalTotal"></td>

                </tr>
                
                
            </tbody>
        
            <tr style="height: 25px;">
                <td colspan="14"></td>
            </tr>
        
            <thead class="thead">
                <tr class="table-secondary">
                    <th>Sales</th>
                    {% for mth in month_header %}
                    <th class="text-right">{{mth}}</th>
                    {% endfor %}
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody> 
                {% for plant in plants %}
                <tr style="height: 43px;">
                <td class="align-middle">{{plant}}</td>
                    {% for mth, mth_details in projections.items() %}
                        <td class="text-right align-middle fw-bold plant{{plant}} plant{{mth_details[3][plant]['mth_hdr']}}">
                            {% if mth_details[3][plant]['status'] == 'Closed' or not edit %}
                            {{mth_details[3][plant]['projection']}}
                            {% else %}
                            <input type="text" 
                                   onkeypress='validate(event)'
                                   name="{{mth_details[3][plant]['proj_id']}}"
                                   id="proj_{{mth_details[3][plant]['proj_id']}}" 
                                   class="form-control form-control-sm text-right plant{{plant}} plant{{mth_details[3][plant]['mth_hdr']}}"
                                   value="{{mth_details[3][plant]['projection']}}"
                                   pattern="(\d*,?\d*)*"
                                   data-toggle="tooltip" 
                                   data-placement="top" 
                                   title="Enter only integers">
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td id="plant{{plant}}Total" class="totals text-right align-middle plantTotal">

                    </td>
                </tr>
                {% endfor %}
                {% if plants|length > 1 %}
                    <tr class="totals">
                        <td></td>
                        {% for mth in month_header %}
                        <td class="text-right" id="plant{{mth}}Total"></td>
                        {% endfor %}
                        <td class="text-right" id="plantTotalTotal"></td>

                    </tr>
                {% endif %}

                <tr style="height: 43px;">
                    <td colspan="15 text-right">
                        <p class="font-weight-bold text-right">* Actual Tons</p>
                    </td>
                </tr>
            </tbody>
            
            
        </table>
    </div>
    
    {% if edit %}

    <table class="submit-table">
        <tr>
            <td class="absorbing-column">

            </td>

            <td>
                <button type="submit" name="{{submit_button}}"
                    class="btn btn-primary float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save Changes</button>
            </td>

        </tr>
    </table>

    {% endif %}

</form>

{% if not edit %}
    <table class="submit-table">
        <tr>
            <td class="absorbing-column">

            </td>

            <td>
                <a class="btn btn-secondary float-right"
                href="/forms/asphalt-projections?division={{division}}&month={{month}}&edit=y">
                
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                </a>
            </td>

        </tr>
    </table>
{% endif %}
<hr>
<h3>Actual Asphalt Tons</h3>
<br>
<h4>Jobs</h4>
<table class="table table-sm document-table w-100">
    <thead class="thead">
        <tr class="table-secondary">
            <th style="width: 6.92%;">Jobs</th>
            {% for mth in mth_abbr %}
            <th class="text-right" style="width: 6.43%;">{{mth}}</th>
            {% endfor %}
            <th class="text-right" style="width: 6.43%;">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in job_history.items() %}
        <tr style="height: 43px;">
            <td class="align-middle">{{key}}</td>

            {% for i in range(12) %}
                <td class="text-right align-middle">{{value[i]}}</td>
            {% endfor %}

            <td class="totals text-right align-middle">{{job_history_total[key]}}</td>

        </tr>
        {% endfor %}
        <tr style="height: 43px;">
            <td colspan="14 text-right">
                <p class="font-weight-bold text-right">* Incomplete Month</p>
            </td>
        </tr>
    </tbody>

</table>

<h4>Sales</h4>

{% for plant, details in plant_history.items() %}

<table class="table table-sm document-table w-100">
    <thead class="thead">
        <tr class="table-secondary">
            <th style="width: 6.92%;">{{plant}}</th>
            {% for mth in mth_abbr %}
            <th class="text-right" style="width: 6.43%;">{{mth}}</th>
            {% endfor %}
            <th class="text-right" style="width: 6.43%;">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in details.items() %}
        <tr style="height: 43px;">
            <td class="align-middle">{{key}}</td>

            {% for i in range(12) %}
                <td class="text-right align-middle">{{value[i]}}</td>
            {% endfor %}

            <td class="totals text-right align-middle">{{plant_history_total[plant][key]}}</td>

        </tr>
        {% endfor %}
        <tr style="height: 43px;">
            <td colspan="14 text-right">
                <p class="font-weight-bold text-right">* Incomplete Month</p>
            </td>
        </tr>
    </tbody>

</table>


{% endfor %}


{% endblock %}


{% block additional_js %}

<script>
    function validate(evt) {
        var theEvent = evt || window.event;
    
        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]/;
        if( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    var classes = {{classes}}
    var cols = {{cols}}

    $(document).ready(function(){
        for (i in classes) {
            $("." + classes[i]).change(function(){
            calcAll()
        });
        }
        
    });  

    $(document).ready(function(){
        calcAll()
    });

    function calcAll(){
        for (i in classes) {
            updateTotals(classes[i])
        };
        for (i in cols){
            updateCols(cols[i])
        };
    };

    function updateTotals(target_class){

        var sum = 0
        $('.' + target_class).each(function(){
            var qty = $(this);
            sum += parseInt(qty.text().replace(/,/g, '').replace('*', '')) || 0;
            sum += parseInt(qty.val().replace(/,/g, '').replace('*', '')) || 0;
        });

        sum = numberWithCommas(sum)

        if (sum == 0){
            sum = "";
        };

        $("#"+ target_class +"Total").html(sum);
    };

    function updateCols(target_col){
        var sum = 0
        $('.' + target_col).each(function(){
            var qty = $(this);
            sum += parseInt(qty.text().replace(/,/g, '').replace('*', '')) || 0;
            sum += parseInt(qty.val().replace(/,/g, '').replace('*', '')) || 0;
        });

        sum = numberWithCommas(sum)
        
        if (sum == 0){
            sum = "";
        };

        $("#"+ target_col +"Total").html(sum);
    };

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    };


</script>


{% endblock %}