{% from "shared/_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.test_field_1) }}
    {{ render_field(form.test_field_2) }}
  </dl>
  <p><input type=submit value=Register>
</form>