{% extends "shared/_layout.html" %}

{% block title%}Ticket Export{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}

<h1 class="display-4 mb-4">Material Ticket Image Export</h1>


<div>
    <div class="filter-form rounded">


        <h3 class="filters-header col-xs-4">Filters</h3>



        <div id="filters">
            <form method=post>

                <div class="form-row">

                    <div class="form-group col-xs-3 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="PlantFilter">Plant</label>
                        <select name="PlantFilter" method="GET" action="/" class="form-control form-control-sm">
                            {% for pl in plants%}
                            {% if pl[0] == plant %}
                            <option value="{{pl[0]}}" selected>{{ pl[1] }}</option>
                            {% else %}
                            <option value="{{pl[0]}}">{{ pl[1] }}</option>
                            {% endif %}
                            {% endfor %}

                        </select>
                    </div>
                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="CustomerSearchFilter">Customer Search</label>
                        <input name="CustomerSearchFilter" type="text" placeholder="None"
                            class="form-control form-control-sm" value="{{customer}}">
                    </div>
                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="CustomerJobPOFilter">Customer Job/PO</label>
                        <input name="CustomerJobPOFilter" type="text" placeholder="None"
                            class="form-control form-control-sm" value="{{cust_job}}">

                    </div>
                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="JobFilter">LI Job</label>
                        <input name="JobFilter" type="text" placeholder="None" class="form-control form-control-sm"
                            value="{{job}}">

                    </div>

                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="MaterialFilter">Material</label>
                        <input name="MaterialFilter" type="text" placeholder="None" class="form-control form-control-sm"
                            value="{{material}}">

                    </div>

                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="TicketFilter">Ticket</label>
                        <input name="TicketFilter" type="text" placeholder="None" class="form-control form-control-sm"
                            value="{{ticket}}">

                    </div>

                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="StartDate">Start Date</label>
                        <input name="StartDate" type="date" placeholder="2000-01-01"
                            class="form-control form-control-sm" value="{{start_date}}">

                    </div>

                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="EndDate">End Date</label>
                        <input name="EndDate" type="date" placeholder="2000-01-01" class="form-control form-control-sm"
                            value="{{end_date}}">

                    </div>

                    <div class="form-group col-xs-6 col-md-4 col-lg-3 col-xl-2">
                        <label class="field-header" for="Limit">Limit</label>
                        <input name="Limit" type="number" placeholder="10" class="form-control form-control-sm"
                            value="{{limit}}">

                    </div>

                </div>

                <button type="submit" name="ApplyFilters" class="btn btn-primary float-right">Apply Filters</button>

            </form>
        </div>



    </div>

</div>

{% if files|length != 0 %}

<div class="documents">
    <form method="POST">
        <div class="table-responsive">
            <table class="table table-sm table-striped document-table table-hover w-100 small rounded">
                <thead class="thead-dark">
                    <tr>
                        <th>Plant</th>
                        <th>Ticket</th>
                        <th>Date</th>
                        <th>Customer/Job</th>
                        <th>Cust Job/PO or Phase</th>
                        <th>Material</th>
                        <th>Units</th>
                        <th></th>
                    </tr>
                </thead>

                {% for file in files %}
                <tr>
                    <td>{{file[0]}}</td>
                    <td>{{file[1]}}</td>
                    <td>{{file[8]}}</td>
                    <td>{{file[2]}}</td>
                    <td>{{file[10]}}</td>
                    <td>{{file[3]}}</td>
                    <td class="text-right">{{file[4]}}</td>
                    <td><button type="submit" name="export_{{file[7]}}" value={{file[7]}}
                            class="btn btn-secondary btn-sm"><i class="fa fa-download"></i> Download</button></td>
                </tr>
                {% endfor %}

            </table>

        </div>

        <table class="submit-table">
            <tr>
                <td class="absorbing-column">

                </td>
                <td>
                    <button type="submit" name="download" value="{{filter_settings}}"
                        class="btn btn-primary float-right">Download All</button>
                </td>
                <td>
                    <button type="submit" name="merge" class="btn btn-primary float-right">Merge and Download
                        PDFs</button>
                </td>
            </tr>
        </table>


    </form>



</div>

{% endif %}

{% endblock %}