{% from "shared/_formhelpers.html" import render_field %}
{% extends "shared/_layout.html" %}

{% block title%}Backlog{% endblock %}

{% block additional_css %}


{% endblock %}

{% block main_content %}
<div class="row mb-5">
  <div class="col-lg-8 col-xs-12">
    <h1>Backlog</h1>
  </div>
  <div class="col-lg-4 col-xs-12">
    <table class="w-100">
      <tr>
        <td>
          <form method="POST" class="align-middle">
            <select name="filterSelect" class="form-control-lg w-100 align-middle" onchange="this.form.submit()">
              {% for option in filter_options %}
              <option value="{{option}}" {{"selected" if option == filter}} >
                {{option}}
              </option>
              {% endfor %}
            </select>
          </form>
        </td>
        <td class="text-right align-middle"> 
          <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#editModal" onclick="clearItemDetails()"><i class="fa fa-plus" aria-hidden="true"></i>
          </button> 
        </td>
      </tr>
    </table>
    
</div>
</div>

    <table class="table table-sm table-striped table-hover w-100">
        <thead class="thead-dark">
            <tr>
                <th>Item Name</th>
                <th>Project Type</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Requested By</th>
                <th>Managed By</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% for row in backlog %}
          <tr>
            <td>{{row[1]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
            <td>{{row[7]}}</td>
            <td>{{row[12]}}</td>
            <td>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal" onclick="getItemDetails({{row[0]}})">Edit

              </button>
            </td>
          </tr>
          {% endfor %}


        </tbody>

    </table>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Backlog Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="editItemName">Item Name</label>
            <input type="text" class="form-control" id="editItemName" name="editItemName" required>
          </div>
          <div class="form-group">
            <label for="editItemDescription">Item Description</label>
            <textarea rows="3" class="form-control" id="editItemDescription" name="editItemDescription"></textarea>
          </div>
          <div class="form-group">
            <label for="editProjectType">Project Type</label>
            <select class="form-control" id="editProjectType" name="editProjectType" onchange="toggleOtherProjectType(this.value)">
                <option disabled selected hidden></option>   
                {% for type in project_types %}
                    <option value="{{type[0]}}">{{type[1]}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editOtherProjectType">Other Project Type</label>
            <input type="text" class="form-control" id="editOtherProjectType" name="editOtherProjectType" disabled>
          </div>
          <div class="form-group">
            <label for="editPriority">Priority</label>
            <select class="form-control" id="editPriority" name="editPriority" required>
                <option disabled selected hidden></option>
                {% for priority in priorities %}
                    <option value="{{priority[0]}}">{{priority[1]}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editStatus">Status</label>
            <select class="form-control" id="editStatus" name="editStatus">
              <option disabled selected hidden></option>
                {% for s in status %}
                    <option value="{{s[0]}}">{{s[1]}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editRequestedBy">Requested By</label>
            <select class="form-control" id="editRequestedBy" name="editRequestedBy">
              <option disabled selected hidden></option>
                {% for employee in requested_by %}
                    <option value="{{employee[0]}}">{{employee[1]}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editManagedBy">Managed By</label>
            <select class="form-control" id="editManagedBy" name="editManagedBy">
              <option disabled selected hidden></option>
              {% for person in managed_by %}
                  <option value="{{person[0]}}">{{person[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editRequestReceived">Request Received</label>
            <input type="date" class="form-control" id="editRequestReceived" name="editRequestReceived">
          </div>
          <div class="form-group">
            <label for="editPlannedStart">Planned Start</label>
            <input type="date" class="form-control" id="editPlannedStart" name="editPlannedStart">
          </div>
          <div class="form-group">
            <label for="editStartDate">Start Date</label>
            <input type="date" class="form-control" id="editStartDate" name="editStartDate">
          </div>
          <div class="form-group">
            <label for="editEndDate">End Date</label>
            <input type="date" class="form-control" id="editEndDate" name="editEndDate">
          </div>
          <div class="form-group">
            <label for="editDueDate">Due Date</label>
            <input type="date" class="form-control" id="editDueDate" name="editDueDate">
          </div>
          <div class="form-group">
            <label for="editNotes">Notes</label>
            <textarea rows="5" class="form-control" id="editNotes" name="editNotes"></textarea>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" value="" data-toggle="modal" data-target="#modalDeleteItemBox" id="deleteButton">Delete</button>
        <button type="submit" class="btn btn-primary" value=""  id="submitButton" name="submitButton">Save Changes</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDeleteItemBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteTemplateModal">Delete Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
          <div class="modal-body row justify-content-center">
              <div class="col-auto">
                  <p class="lead" id="itemConfirmation"></p>
              </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" id="modalDeleteSubmit" name="modalDeleteSubmit" value="" class="btn btn-danger">Delete Item</button>
          </div>
      </form>
      
    </div>
  </div>
</div>

{% endblock %}

{% block additional_js %}

<script>
  function toggleOtherProjectType(value){
    if(value == "7") {
      document.getElementById("editOtherProjectType").removeAttribute("disabled");
      document.getElementById("editOtherProjectType").focus();
    } else {
      document.getElementById("editOtherProjectType").setAttribute("disabled", "true");
    }
  }

  function getItemDetails(value){
    clearItemDetails()
    var url = '/backlog/items/' + value
    $.getJSON(url, function(data){
      document.getElementById("editItemName").value = data["item_name"];
      document.getElementById("editItemDescription").value = data["item_description"]
      document.getElementById("editProjectType").value = data["project_type_id"]
      document.getElementById("editOtherProjectType").value = data["other_project_description"]
      document.getElementById("editPriority").value = data["priority_id"]
      document.getElementById("editStatus").value = data["status_id"]
      document.getElementById("editRequestedBy").value = data["requested_by"]
      document.getElementById("editManagedBy").value = data["managed_by"]
      document.getElementById("editRequestReceived").value = data["request_received"]
      document.getElementById("editPlannedStart").value = data["planned_start"]
      document.getElementById("editStartDate").value = data["start_date"]
      document.getElementById("editEndDate").value = data["end_date"]
      document.getElementById("editDueDate").value = data["due_date"]
      document.getElementById("editNotes").value = data["notes"]
      document.getElementById("submitButton").value = value
      document.getElementById("modalDeleteSubmit").value = value
      document.getElementById("deleteButton").style.display="block"
      document.getElementById("itemConfirmation").innerHTML = "Are sure you want to delete " + data["item_name"] + "?"
      console.log(data)
    })
  }

  function clearItemDetails(){
      document.getElementById("editItemName").value = "";
      document.getElementById("editItemDescription").value = ""
      document.getElementById("editProjectType").value = ""
      document.getElementById("editOtherProjectType").value = ""
      document.getElementById("editPriority").value = ""
      document.getElementById("editStatus").value = ""
      document.getElementById("editRequestedBy").value = ""
      document.getElementById("editManagedBy").value = ""
      document.getElementById("editRequestReceived").value = ""
      document.getElementById("editPlannedStart").value = ""
      document.getElementById("editStartDate").value = ""
      document.getElementById("editEndDate").value = ""
      document.getElementById("editDueDate").value = ""
      document.getElementById("editNotes").value = ""
      document.getElementById("submitButton").value = ""
      document.getElementById("deleteButton").style.display="none"
  }

</script>

{% endblock %}

