{% extends "shared/_layout.html" %}

{% block additional_css %}


{% endblock %}

{% block title%}Document Export Dashboard{% endblock %}

{% block main_content %}


<div class="w-100 border" style="height: 700px;">
    <script type='text/javascript' src='https://tableau.lakesideindustries.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 100%; height: 100%;'>
        <object class='tableauViz' width='100%' height='100%' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Ftableau.lakesideindustries.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='DocumentExport&#47;DocumentExportStats' />
            <param name='tabs' value='no' />
            <param name='showAppBanner' value='false' />
            <param name='toolbar' value='no'/>
            <param name='tooltip' value='no'/>
        </object>
    </div>
            
</div>



{% endblock %}