{% extends "shared/_layout.html" %}

{% block additional_css %}


{% endblock %}

{% block title%}Lakeside Industries{% endblock %}

{% block main_content %}


<div class="jumbotron">

    <h1 class="display-4">{{text_items['hero'][0]}}</h1>
    <p class="lead">{{text_items['hero'][1]}}</p>
    <hr class="my-4">
    <p class="lead">{{text_items['hero'][2]}}</p>

</div>

{% if user %}

<div style="height: 2rem;"></div>

<h2 class="display-6">Featured Items</h2>
<hr/>



<div class="row card-deck">
  {% for item in featured_items %}
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch w-100">
        <div class="card text-center bg-light mb-3">
            <div class="card-header">
                {{item[0]}}
            </div>
            <div class="card-body">
              <p class="card-text">{{item[1]}}</p>
            </div>
            <div class="card-footer bg-light">
              <a href="{{item[3]}}" class="btn btn-primary">{{item[2]}}</a>
            </div>
          </div>
    </div>
  {% endfor %}

</div>
{% endif %}

{% endblock %}